@import url('https://fonts.googleapis.com/earlyaccess/cwtexyen.css');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fredoka:wght@300..700&family=Madimi+One&family=Mandali&display=swap');
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    background-color: #e8e6e6; /* 背景顏色 */
    font-family: 'cwTeXYen', 'Mandali', sans-serif;
  }
  .manage-container {
    /* width: 50%; */
    height: auto;
    /* background-color: #fff;  */
    border-radius: 10px; /* 圓角 */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  */
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    /* text-align: center; */
  }
  .full-container{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 陰影效果 */
    border-radius: 50px;
    margin-top: 20px;
  }
  label{
    margin-right: 10px;
    margin-left: 10px;
  }
  select,input {
    /* width: 100%; */
    padding: 10px;
    /* margin-top: 20px; */
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9; /* 下拉式選單的背景顏色 */
  }
  /* .center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */

  .save-button {
    display: block;
    /*width: 100%;*/
    width:200px;
    font-weight: bold;
    font-size: 15px;
    background: linear-gradient(45deg, rgb(104, 107, 108) 0%, rgb(183, 188, 189) 100%);
    color: white;
    padding-block: 15px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgba(152, 158, 161, 0.87) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}
  .category-button{
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    background: linear-gradient(45deg, rgb(104, 107, 108) 0%, rgb(183, 188, 189) 100%);
    color: rgb(255, 255, 255);
    padding-block: 15px;
    margin: 20px auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: rgba(152, 158, 161, 0.87) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }

    .setBtn {
        /* width: 100%; */
        width: 80px;
        font-weight: bold;
        font-size: 15px;
       /* background: rgb(183, 188, 189);*/
        color: rgb(123, 125, 127);
        padding-top: 10px;
        padding-block: 8px;
        margin-bottom: 10px;
        border-radius: 5px;
        /* box-shadow: rgba(152, 158, 161, 0.87) 0px 20px 10px -15px; */
        border: none;
        /* transition: all 0.2s ease-in-out; */
    }
    .setBtn:hover{
        transform: scale(1.5);
        /*color: rgb(100, 100, 100);*/
    }
    .setBtn svg{
         transform: scale(1.5)!important;
         margin-top: 3px!important;
         margin-bottom: 0px!important;
    }
    .logout-btn{
        background: white;
        border: none;
    }
  .svg-input{
    width: 80%;
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  svg {
    transform: scale(2);
    margin-left: 10px;
    margin-right: 10px;
    /*margin-bottom: 10px;*/
  }
.svgView {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 25px;
}

a {
  color: #664d03;
  padding: 5px;
  /* border: #664d03; */
  background-color: #fff3cd;
  border-radius: 10px;
  /* font-weight: 900; */
  /* text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px -1px 0 #ffffff, 1px 1px 0 #ffffff; */
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  /* color: rgb(100, 95, 95); */
  transform: translateY(-5px) scale(1.3);
  text-decoration: underline;
}

.description{
    width: 80%;
}

#basic-options2{
    margin-left: 10px;
}
.recordList-group .svg-input{
    width: 70%;
}
.recordList-group svg{
    transform: scale(2);
}
.icon-group .svg-input{
    width: 70%;
}
.icon-group svg{
    transform: scale(3.3);
}
.marker-group .svg-input{
    width: 70%;
}
.marker-group svg{
    transform: scale(1.3);
        margin-right: 0px;
       margin-left: 0px;
}
/*.icon-group span, .recordList-group span, .marker-group span{
        margin-left: 10px;
}*/
.svg-margin{
     margin-left: 10px;
}

  /* rwd */
  @media only screen and (max-width: 700px) {
    .full-container{
      box-shadow: none; /* 陰影效果 */
      margin-top: 0px;
    }
    body{
      background-color: #fff;
    }
    .svg-input{
      width: 100% !important;
    }
  }