body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    background-color: #e8e6e6; /* 背景顏色 */
    font-family: 'Crimson Pro', serif;
  }
  .manage-container {
    /* width: 50%; */
    height: auto;
    /* background-color: #fff;  */
    border-radius: 10px; /* 圓角 */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  */
    padding-top: 40px;
    padding-left: 50px;
    /* text-align: center; */
  }
  .full-container{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 陰影效果 */
  }
  label{
    margin-right: 10px;
    margin-left: 10px;
  }
  select,input {
    /* width: 100%; */
    padding: 10px;
    /* margin-top: 20px; */
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9; /* 下拉式選單的背景顏色 */
  }
  /* .center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */

  .save-button {
    display: block;
    /*width: 100%;*/
    width:200px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Crimson Pro', serif;
    background: linear-gradient(45deg, rgb(104, 107, 108) 0%, rgb(183, 188, 189) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(152, 158, 161, 0.87) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

  /* rwd */
  @media only screen and (max-width: 700px) {
    .full-container{
      box-shadow: none; /* 陰影效果 */
    }
    body{
      background-color: #fff;
    }
  }