/* 共用 */
.fade-in-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}
.fade-in-up.active {
    opacity: 1;
    transform: translateY(0);
}
img{
    border-radius: 30px;
    max-width: 45vmin;
    box-shadow: -29px 34px 67px 0 rgba(0,0,0,.1);
}
video{
    border-radius: 30px;
    max-width: 100vh;
    max-height: 100vh;
    box-shadow: -29px 34px 67px 0 rgba(0,0,0,.1);
}
span{
    color: rgb(98, 172, 113);
}
details{
    padding: 10px 20px 10px 20px;
}
summary{
    font-size: 20px;
}
section{
    overflow: hidden;
}

/* LoginBtn */
.login {
    z-index: 101;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    transition: .4s ease;
    position: absolute;
    overflow: hidden;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .gradient {
    height: 100%;
    width: 350%;
    background: linear-gradient(to right, #62AC71FF 25%, #64EAE7 65%, #16a085 90%);
    position: absolute;
    top: 0;
    left: 60%;
    transform: translateX(-50%);
    z-index: -1;
    transition: .4s ease;
}
.login .txt {
    transition: .4s ease .5s;
    font-size: 3vmin;
    padding: 1.5vmin 5vmin 1.5vmin 5vmin;
}
.login:hover .gradient {
    transition: .4s ease;
    transform: translateX(-40%);
}
.login:focus .gradient {
    background-size: 200%;
    background-position: right;
    transform: translateX(-88%);
    transition: 1s ease;
}


/* 導航列 */
.EMOapp{
    padding-left: 60px;
}
#navbar{
    padding: 0;
}
#features{
    scroll-margin-top: 130px;
}
.navbarJustify{
    justify-content: right;
    padding-right: 50px;
}
.navbar a:active{
    transform: scale(0.9);
    transition: transform 0.1s linear;
}
.nav-item{
    padding: 20px;
}

/* section:home */
#login{
    top: 50%;
    width: fit-content;
    height: fit-content;
}
.homeSlogan{
    font-size: 7vmin;
    top: 30%;
    width: 100%;
    height: 100%;
    text-align: center;
}
.home {
    background: #b8eecc;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.homeBG{
    position: absolute;
    bottom: -20%;
}

/* section:features */
.features{
    background: #caf5d9;
    height: 80vh;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}
.featuresSlogan{
    font-size: 8vmin;
}
.sloganGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
}
.sloganTyping1{
    margin: 0 auto;
    width: 7em;
    color: #3d3c3c;
    overflow: hidden;
    white-space: nowrap;
}
.sloganTyping1.active{
    animation: typing 1s steps(7);
}
.sloganTyping2{
    margin: 0 auto;
    width: 9em;
    color: #3d3c3c;
    overflow: hidden;
    white-space: nowrap;
}
.sloganTyping2.active{
    animation: typing 1s steps(9);
}
@keyframes typing {
    from { width: 0% }
}
.sloganSymbolLeft{
    color: #7a7979;
    position: absolute;
}
.sloganSymbolRight{
    color: #7a7979;
    position: absolute;
}
.sloganDescription{
    color: #7a7979;
    font-size: 3vmin;
    text-align: center;
}
/* section:featuresRecord */
.featuresRecord{
    background: #dafee2;
    height: 180vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5vmin;
    align-content: center;
}
.recordSlogan{
    font-size: 6vmin;
    position: relative;
    padding-bottom: 2vmin;
}
.recordPhoto1{
    position: relative;
}
.recordPhoto2{
    position: relative;
}
.recordDescription{
    position: relative;
    color: #3d3c3c;
    font-size: 3vmin;
    padding-top: 5vmin;
    width: 100%;
}
/* section:featuresHistory */
.featuresHistory{
    background: #caf5d9;
    height: 130vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5vmin;
    align-content: center;
    justify-items: center;
}
.historyChild1{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: right;
    width: 100%;
}
.historyChild2{
    width: 100%;
}
.historyVideo{
    position: relative;
}
.historySlogan{
    font-size: 7vmin;
    position: relative;
    align-content: end;
}
.historyDescription{
    position: relative;
    color: #3d3c3c;
    font-size: 3.5vmin;
}
/* section:featuresAchievementNRanking */
.featuresAchievementNRanking{
    background: #dafee2;
    height: 130vh;
    width: 100vw;
    position: relative;
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1) grayscale(100);
}
.achievementText{
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
}
.achievementObj{
    text-align: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
}
#text1,
#text2,
#text3,
#text4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.achievementSlogan {
    font-size: 6vmin;
    text-align: center;
    color: rgb(98, 172, 113);
}
.achievementDescription {
    font-size: 3.5vmin;
    text-align: center;
    padding-bottom: 20px;
}

/* section:comment */
.comment{
    background: #caf5d9;
    height: 100vh;
    position: relative;
    justify-content: center;
    overflow: hidden;
}
#commentLogin{
    position: relative;
    height: 7vmin;
    justify-content: center;
}
.joinUS{
    transform: scale(3);
    transition: transform 1.5s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.totalFPCounter{
    font-size: 7vmin;
    position: relative;
    width: 100%;
    text-align: center;
    color: rgb(98, 172, 113);
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.totalFPDescription{
    font-size: 5vmin;
    width: 100%;
    text-align: center;
    color: #3d3c3c;
}

/* section:qa */
.qa{
    background: #dafee2;
    height: 80vh;
    position: relative;
    flex-direction: row;
    display: flex;
    align-items: center;
}
.qaTitle{
    display: flex;
    font-size: 40px;
    width: 50%;
    color: #3d3c3c;
    justify-content: center;
}
.qaDetails{
    background: rgba(255, 255, 255, 0.61);
    width: 80vw;
    height: fit-content;
    border-radius: 20px;
    margin-right: 5%;
}
.qaContent{
    border-radius: 20px;
    background: rgba(236, 236, 236, 0.61);
    padding: 10px 20px 10px 20px;
}
.resourceLink {
    text-decoration: none;
    color: #000000;
    text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px -1px 0 #ffffff, 1px 1px 0 #ffffff;
}

/* section:contact */
.contact{
    background-color: rgb(98, 172, 113);
}

@media (prefers-reduced-motion: reduce) {
    #navbar {
        transition: background-color 0.3s ease;
    }

    /* 將切換按鈕的背景顏色設置為白色 */
    .navbar-toggler {
        background-color: #fff;
        margin-right: 15px;
        transform: scale(0.8);
    }

    /* 將切換按鈕的圖標顏色設置為黑色（或其他適合的顏色） */
    .navbar-toggler-icon {
        color: #fff;
    }
}
@media only screen and (max-width: 1024px) {
    /* 共用 */
    img{
        max-width: 45vmin;
    }
    video {
        max-width: 50vmin;
    }
    summary{
        font-size: 15px;
    }

    /* navBar */
    .navbar {
        text-align: center;
        padding: 0;
    }
    .EMOapp{
        transform: scale(0.8);
    }
    #navbarBtn{
        margin-right: 8%;
    }

    /* section:home */
    #login{
        width: 70%;
        top: 40%;
    }
    .homeBG{
        height: 100vh;
        position: absolute;
    }

    /* section:feature */
    .features{
        height: 50vh;
    }
    .sloganSymbolLeft{
        display: none;
    }
    .sloganSymbolRight{
        display: none;
    }
    /* section:featureRecord */
    .featuresRecord{
        height: 100vh;
        position: relative;
    }
    .recordSlogan{
        position: relative;
    }
    .recordDescription{
        position: absolute;
        text-align: right;
    }
    /* section:featureHistory */
    .featuresHistory{
        height: 100vh;
        position: relative;
        grid-template-columns: unset;
        grid-gap: unset;
    }
    .historyChild1{
        grid-template-rows: unset;
        justify-content: center;
    }
    .historyChild2{
        justify-self: center;
        width: unset;
    }
    .historySlogan {
        position: relative;
    }
    /* section:featuresAchievementNRanking */
    .featuresAchievementNRanking{
        height: 100vh;
        position: relative;
        display: flex;
    }
    .carousel-control-prev,
    .carousel-control-next{
        display: none;
    }
    .achievementObj{
        grid-template-rows: 80% 20%;
        grid-template-columns: none;
        width: 100vw;
        height: 100vh;
    }
    #carouselExampleSlidesOnly{
        align-content: end;
    }
    .carousel-inner img{
        max-width: 55vmin;
    }


    /* section:comment */
    .joinUS{
        rotate: 90deg;
        width: 100vw;
        opacity: 0;;
        left: 15%;
    }
    @keyframes zoom {
        from {
            width: 200vw;
            opacity: 0;
        }
        to {
            width: 70vw;
            opacity: 1;
        }
    }
    .totalFPDescription{
        z-index: 10;
    }
    .totalFPCounter{
        z-index: 101;
    }

    /* section:qa */
    .qa{
        height: fit-content;
        position: relative;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .qaTitle{
        width: 100vh;
        justify-content: center;
        font-size: 30px;
        margin-top: 10%;
        margin-bottom: 2%;
    }
    .qaDetails{
        width: 95vw;
        margin: 0;
        margin-bottom: 10%;
    }
    .qaContent{
        font-size: 13px;
    }

    .youtube {
        width: 350px;
        height: 200px;
    }


    .transparent-box {
        margin: 20px;
    }

    .top {
        font-size: 100px;
    }
}