.EMOapp{
    padding-left: 60px;
}
.home {
    background: #b8eecc;
}
.features{
    background: #caf5d9;
    height: 700px;
}
.resources{
    background: #b8eecc;
    height: 700px;
}
.qa{
    background: #caf5d9;
    height: 700px;
}
.contact{
    background-color: rgb(98, 172, 113);
}


.navbarJustify{
    justify-content: right;
    padding-right: 50px;
}
.navLink{
    width: 100px;
    height: 100px;
}
.navbar a:active{
    transform: scale(0.9);
    transition: transform 0.1s linear;
}

.totalFPCounter{
    font-size: 80px;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 250px;
}
.totalFPDescription{
    font-size: 30px;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 200px;
}






img{
    max-width: 100%;
    padding:5px;
}
.btn{
    border-radius: 40px;
}
.nav-item{
    padding: 20px;

}
.loginpage-btn{
    background-color: #166a29;
    color: white;
    border-radius: 40px;
    height: 50px;
    /* padding-left: 20px;
    padding-right: 20px; */
}
.loginpage-btn:hover{
    background-color: #0f491b;
    border-color: rgba(255, 255, 255, 0.4);
    color: white;
}
@media (prefers-reduced-motion: reduce) {

    .transparent-box {
        background-color: rgba(255, 255, 255, 0.7); /* Use rgba to set the background color with alpha (transparency) */
        border-radius: 20px; /* Adjust the border-radius to control the roundness of the box */
        padding: 20px; /* Adjust padding as needed */
        text-align: center; /* Center content */
    }

    .row {
        justify-content: center;
    }

    .container {
        padding: 10px;
    }

    .link {
        text-decoration: none;
        color: #000000;
        text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px -1px 0 #ffffff, 1px 1px 0 #ffffff;

    }

    .caption {
        font-size: 13px;
        color: #000000;
        text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px -1px 0 #ffffff, 1px 1px 0 #ffffff;
    }

    .link:hover {
        text-decoration: underline;
        text-shadow: none;
    }

    #navbar {
        transition: background-color 0.3s ease;
    }

    .youtube {
        width: 560px;
        height: 315px;
    }

    /* 將切換按鈕的背景顏色設置為白色 */
    .navbar-toggler {
        background-color: #fff;
        margin-right: 15px;
        transform: scale(0.8);
    }

    /* 將切換按鈕的圖標顏色設置為黑色（或其他適合的顏色） */
    .navbar-toggler-icon {
        color: #fff;
    }

    .faq {
        /* border: 1px solid #ccc; */
        margin-bottom: 10px;
    }

    .question {
        /* background-color: #f0f0f0; */
        padding: 10px;
        cursor: pointer;
        position: relative;
        font-weight: bolder; /* 更加粗的字体 */
    }

    .arrow {
        border: solid #000;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    .arrow.down {
        transform: translateY(-50%) rotate(225deg);
    }

    .answer {
        display: none;
        padding: 10px;
        background: rgba(143, 188, 143, 0.614);
        border-radius: 20px;
    }

    .top {
        font-size: 140px;
    }

    /* rwd */
    @media only screen and (max-width: 700px) {
        .youtube {
            width: 350px;
            height: 200px;
        }

        .navbar {
            text-align: center;
        }

        .transparent-box {
            margin: 20px;
        }

        .top {
            font-size: 100px;
        }
    }
}