    html,body {
        overflow: hidden;
        font-family: 'HunInn', 'Mandali', sans-serif;
        background: #b8eecc;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        z-index:-1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        touch-action: manipulation;
        user-select: none;
        height:100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
    .container {
        padding: 10px;
        min-width: 300px;
        max-width: 350px;
    }
    .form-control
    .btn.btn-primary {
        width: 100%;
    }

    a#switch-to-signup {
        text-decoration: none;
        color:#05240d;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white ;
    }
    a#switch-to-signup:hover{
        text-decoration:underline;
    }
    a#no-account {
        text-decoration: none;
        color:#05240d;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white ;  /* 白色框線 */
        padding-left: 10px;
    }
    a#no-account:hover{
        text-decoration:underline;
    }
    .custom-link {
        color: white;
        text-decoration: none;
    }
    .form-control {
        background: transparent;
        border: none;
        height: 50px;
        color: white !important; /*  !important覆蓋其他具有相同屬性的規則 */
        border: 1px solid transparent;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 40px;
        padding-left: 20px;
        padding-right: 20px;
        /* padding-top: 20px;
        padding-bottom: 20px; */
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    .form-group {
         position: relative;
    }
    /* LoginBtn */
    .login {
        z-index: 101;
        background-color: transparent;
        color: white;
        font-weight: bold;
        height: 3.3em;
        width: 100%;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: .4s ease;
        position: relative;
        overflow: hidden;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login .gradient {
        height: 100%;
        width: 350%;
        background: linear-gradient(to right, #62AC71FF 25%, #64EAE7 65%, #16a085 90%);
        position: absolute;
        top: 0;
        left: 60%;
        transform: translateX(-50%);
        z-index: -1;
        transition: .4s ease;
    }
    .login .txt {
        transition: .4s ease .5s;
    }
    .login:hover .gradient {
        transition: .4s ease;
        transform: translateX(-40%);
    }
    .login:focus .gradient {
        background-size: 200%;
        background-position: right;
        transform: translateX(-88%);
        transition: 1s ease;
    }
    /* LoginBtn */
    .login {
        z-index: 101;
        background-color: transparent;
        color: white;
        font-weight: bold;
        height: 3.3em;
        width: 100%;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: .4s ease;
        position: relative;
        overflow: hidden;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login .gradient {
        height: 100%;
        width: 350%;
        background: linear-gradient(to right, #62AC71FF 25%, #64EAE7 65%, #16a085 90%);
        position: absolute;
        top: 0;
        left: 60%;
        transform: translateX(-50%);
        z-index: -1;
        transition: .4s ease;
    }
    .login .txt {
        transition: .4s ease .5s;
    }
    .login:hover .gradient {
        transition: .4s ease;
        transform: translateX(-40%);
    }
    .login:focus .gradient {
        background-size: 200%;
        background-position: right;
        transform: translateX(-88%);
        transition: 1s ease;
    }
    .homeBG{
        position: absolute;
        width: 100%;
        z-index: -100;
        bottom: 0;
    }
    #login-container,
    #signup-container,
    #forgetPassword-container{
        background: rgb(25 135 84 / 16%);
        border-radius: 30px;
        padding: 30px;
    }
    svg{
        width: 30px;
        height: 30px;
    }
    .bottom-text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-decoration: none;
        color: #05240d;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
    /*placehoder顏色*/
    .form-control::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.8) !important;
    }
    .emo{
        width: 100%;
    }
    .a2a_svg, .a2a_count {
        border-radius: 99em !important;
    }
    /*針對狹窄手機的設定*/
    @media only screen and (max-width: 360px) {
        .bottom-text{
           font-size: 14px;
        }
    }
    /*針對平板*/
    @media only screen and (min-width: 800px) {
        #signup-container{
            transform: scale(0.95);
        }
        body{
           overflow: hidden;
        }
        /*.homeBG{
            bottom: -50px;
        }*/
    }
     /*針對一般手機*/
    @media only screen and (max-width: 500px) {
        .homeBG{
            display: flex;
            top: 55%;
            position: absolute;
            align-self: flex-end;
            transform: scale(2);
            bottom: auto;
        }
        #login-container,
        #signup-container,
        #forgetPassword-container{
            background: none;
        }
        #login-container,
        #signup-container{
            height: 100%;
        }
        .form-control{
            height: 50px;
            font-size: 1.2rem;
            padding-left: 30px;
        }
        .form-control.btn{
            font-size: 1.2rem;
        }
        .container{
            max-width: 950px;
        }
        label{
            font-size: 120%;
        }
        h2{
            font-size:3rem;
        }
        svg{
            width: 30px;
            height: 50px;
        }

        .googleLoginWrapper{
            /*transform:scale(1.5,1.5);*/
        }
    }
    .form-control:hover, .form-control:focus {
        background: transparent;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: rgba(255, 255, 255, 0.4);
    }
    .form-control:focus {
        border-color: rgba(255, 255, 255, 0.4);
     }

    .form-control.btn {
        background-color: #166a29;
        color: white;
    }

    .form-control.btn:hover,
    .form-control.btn:focus {
        background-color: #0f491b;
    }