<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=1">
    <title>admin Setting</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- 載入字型 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/frontend/admin.css">
</head>
<body>
<div class="container center-div">
    <div class="row">
        <div class="col-lg-2 col-0"></div>
        <div  class="manage-container col-lg-8 col-12 " id="manage-container">
            <h2 class="text-center" style="color: rgb(123, 125, 127);">Admin Management</h2>
            <br>
            <label>請選擇欲更動的類別</label>
            <select name="options" id="options">
                <!-- <option value=""> </option> -->
<!--                <option value="daily">Daily</option>-->
<!--                <option value="daily-base">Daily-base</option>-->
<!--                <option value="traffic">Traffic</option>-->
<!--                <option value="traffic-base">Traffic-base</option>-->
            </select>
            <!-- daily -->
<!--            <div id="daily" class="content-block">-->
<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <label>index</label>-->
<!--                    <select name="types" id="types">-->

<!--                    </select>-->

<!--                </div>-->
<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <label>name</label>-->
<!--                    <input type="text" id="name1" >-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="inline">-->
<!--                    <label>大</label>-->
<!--                    <input type="text" id="big">-->
<!--                    <label>中</label>-->
<!--                    <input type="text" id="mid">-->
<!--                    <label>小</label>-->
<!--                    <input type="text" id="small">-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <label>coefficient</label>-->
<!--                    <input type="text" id="coefficient1">-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <label>unit</label>-->
<!--                    <input type="text" id="unit1">-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <label>baseline</label>-->
<!--                    <input type="text" id="baseline1">-->
<!--                </div>-->
<!--                <br>-->
<!--&lt;!&ndash;                <button class="save-button btn " id="button1">修改/新增</button>&ndash;&gt;-->
<!--            </div>-->
            <!-- daily-base -->
<!--            <div id="daily-base" class="d-none content-block">-->
<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <label>paper</label>-->
<!--                    <input type="text" id="paper">-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <label>plastic</label>-->
<!--                    <input type="text" id="plastic">-->
<!--                </div>-->
<!--                <br>-->
<!--&lt;!&ndash;                <button class="save-button btn " id="button2">修改</button>&ndash;&gt;-->
<!--            </div>-->
            <!-- traffic -->
<!--            <div id="transportation" class="d-none content-block">-->
<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <label>index</label>-->
<!--                    <select name="types" id="types2">-->
<!--&lt;!&ndash;                        <option value="bus">bus</option>&ndash;&gt;-->
<!--&lt;!&ndash;                        <option value="MRT">MRT</option>&ndash;&gt;-->
<!--&lt;!&ndash;                        <option value="train">train</option>&ndash;&gt;-->
<!--&lt;!&ndash;                        <option value="addNew">新增項目</option>&ndash;&gt;-->
<!--                    </select>-->
<!--&lt;!&ndash;                    <input type="text" id="otherOption2" style="display: none;">&ndash;&gt;-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <label>name</label>-->
<!--                    <input type="text" id="name">-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <label>coefficient</label>-->
<!--                    <input type="text" id="coefficient">-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <label>unit</label>-->
<!--                    <input type="text" id="unit">-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <label>baseline</label>-->
<!--                    <input type="text" id="baseline">-->
<!--                </div>-->
<!--                <br>-->
<!--&lt;!&ndash;                <button  class="save-button btn " id="button3">修改/新增</button>&ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; traffic-base &ndash;&gt;-->
<!--            <div id="transportation-base" class="d-none content-block">-->
<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <label>car</label>-->
<!--                    <input type="text" id="car">-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <label>scooter</label>-->
<!--                    <input type="text" id="scooter">-->
<!--                </div>-->
<!--                <br>-->
<!--&lt;!&ndash;                <button  class="save-button btn " id="button">修改</button>&ndash;&gt;-->
<!--            </div>-->

        </div>
        <button class="save-button btn " id="button1">修改/新增</button>
    </div>
</div>



<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/frontend/admin.js"></script>
</body>
</html>
