<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
"index" <input type="text" id="index" name="index" value="cup">
<br>
"name" <input type="text" id="name" name="name" value="環保杯">
<br>
"coefficient" <input type="text" id="coefficient" name="coefficient" value="0">
<br>
"unit"<input type="text" id="unit" name="unit" value="gCo2">
<br>
"option"
<br>
大<input type="text" id="option1" name="option1" value="15">
中<input type="text" id="option2" name="option2" value="10">
小<input type="text" id="option3" name="option3" value="5">
<br>
"baseline" <input type="text" id="baseline" name="baseline" value="plastic">
<br>
<button id="addNewContent">新增</button>
</body>
<script src="/frontend/admin.js"></script>
</html>